@import './src/scss/partials/_mixins';
@import './src/scss/partials/_media-queries';

.content-wrapper {
  .widget-contacts {
    padding-bottom: 30px;

    @include media-sm {
      padding-bottom: 20px;
    }

    .contacts {
      height: 350px;
      margin: 0 20px;
      position: relative;
      padding-right: 5px;
      overflow: auto;

      @include media-xs {
        height: 400px;
        margin: 0 10px;
      }

      &::before {
        content: 'Contacts not found';
        display: none;
        position: absolute;
        top: 10px;
        left: calc(50%);
        color: var(--text-color-two);
        font-size: 18px;
        @include transform(translateX(-50%));
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #33353b;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #c2c3c5;
      }

      .contact {
        height: 70px;
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 2px solid var(--border-color);

        @include media-xs {
          height: 80px;
        }

        .photo {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          @include objectFit(cover);
        }

        .info {
          margin-left: 10px;

          @include media-sm {
            margin-left: 20px;
          }

          .name {
            position: relative;
            font-size: 14px;
            color: var(--text-color-one);
            white-space: nowrap;

            @include media-md {
              font-size: 16px;
            }
    
            @include media-sm {
              font-size: 20px;
            }

            &::after {
              content: '';
              width: 7px;
              height: 7px;
              position: absolute;
              top: 5px;
              right: -13px;
              border-radius: 50%;
              background-color: #1d1d23;

              @include media-md {
                top: 7px;
              }
      
              @include media-sm {
                top: 10px;
              }
            }
          }

          .company {
            font-size: 12px;
            color: var(--text-color-one);
            white-space: nowrap;

            @include media-md {
              font-size: 14px;
            }
    
            @include media-sm {
              font-size: 16px;
            }
          }
        }

        .btn-send-message,
        .btn-send-mail {
          width: 30px;
          height: 30px;
          border: none;
          background: transparent;
          cursor: pointer;

          @include media-xs {
            width: 35px;
            height: 35px;
            position: absolute;
            right: 5px;
          }

          &:hover {
            svg {
              fill: var(--svg-icon-color-hover);
            }
          }

          svg {
            fill: var(--svg-icon-color);
            @include transition(fill .1s ease-in-out);
          }
        }

        .btn-send-message {
          margin-left: auto;

          @include media-xs {
            top: 2px;
          }
        
          svg {
            width: 95%;
            height: 100%;
          }
        }

        .btn-send-mail {
          margin: 0 10px;

          @include media-xs {
            bottom: 2px;
            margin: 0;
          }

          svg {
            width: 80%;
            height: 80%;
            margin-top: 2px;
          }
        }
        
        .new-messages-counter {
          width: 18px;
          height: 18px;
          position: absolute;
          top: 10px;
          left: 40px;
          padding-top: 1px;
          border-radius: 50%;
          background-color: #ff0055;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          text-align: center;
          text-shadow: 0px 2px 1px rgba(24, 24, 25, 0.75);

          @include media-sm {
            width: 24px;
            height: 24px;
            font-size: 18px;
          }
        }
      }

      .status-online {
        .info {
          .name {
            &::after {
              background-color: #6fe7dd;
            }
          }
        }
      }
    }

    .contacts-list-empty {
      &::before {
        display: block;
      }
    }

    .search-contact {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      position: relative;

      .input-search-contact {
        width: 70%;
        height: 40px;
        padding: 0 40px 0 7px;
        border: 2px solid var(--border-color-elems);
        border-radius: 5px;
        background-color: var(--input-bg);
        font-size: 18px;
        color: var(--text-color-three);

        @include media-sm {
          width: 100%;
          margin: 0 20px;
          font-size: 22px;
        }

        @include media-xs {
          margin: 0 10px;
        }

        &::placeholder {
          font-size: 18px;
          color: var(--text-color-three);

          @include media-sm {
            font-size: 22px;
          }
        }
      }

      .btn-clear {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 15%;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;

        @include media-sm {
          right: 20px;
        }

        @include media-xs {
          right: 10px;
        }
    
        &:hover {
          svg {
            fill: var(--svg-icon-color-hover);
          }
        }
    
        svg {
          width: 65%;
          height: 65%;
          margin: 3px 0 0 2px;
          fill: var(--svg-icon-color);
          @include transition(fill .1s ease-in-out);
        }
      }
    }
  }
}