@import './src/scss/partials/_fonts';
@import './src/scss/partials/_mixins';

.widgets-wrapper  {
  .widget-earn-by-country {
    .donut-chart {
      height: 160px;
      display: flex;
      align-items: center;

      .earn-by-country {
        margin-left: 20px;
      }

      .info {
        width: 100%;
        margin: 0 20px;

        li {
          display: flex;
          justify-content: space-between;
          position: relative;
          margin: 10px 0;

          &::before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            top: 4px;
            left: -12px;
            border-radius: 50%;
          }

          &:nth-child(1) {
            &::before {
              background-color: #6fe7dd;
            }
          }

          &:nth-child(2) {
            &::before {
              background-color: #3490de;
            }
          }

          &:nth-child(3) {
            &::before {
              background-color: #6639a6;
            }
          }

          &:nth-child(4) {
            &::before {
              background-color: #d11e5b; 
            }
          }

          &:nth-child(5) {
            &::before {
              background-color: #212228;
            }
          }

          .country,
          .value {
            font-size: 12px;
            color: #fff;
          }
        }
      }
    }
  }
}