@import './src/scss/partials/_mixins';
@import './src/scss/partials/_media-queries';

.content-wrapper  {
  .widget-earn-by-country {
    @include media-sm {
      padding-bottom: 10px;
    }

    .donut-chart {
      height: 160px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @include media-xs {
        flex-direction: column;
      }

      @include media-xs {
        height: auto;
      }

      .earn-by-country {
        margin-left: 20px;

        @include media-xs {
          margin: 10px 0 0 0;
        }
      }

      .info {
        width: 100%;
        margin: 0 20px;

        @include media-lg {
          max-width: 150px;
        }

        @include media-sm {
          max-width: 200px;
        }

        li {
          display: flex;
          justify-content: space-between;
          position: relative;
          margin: 10px 0;

          &::before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            top: 4px;
            left: -12px;
            border-radius: 50%;
          }

          &:nth-child(1) {
            &::before {
              background-color: #6fe7dd;
            }
          }

          &:nth-child(2) {
            &::before {
              background-color: #3490de;
            }
          }

          &:nth-child(3) {
            &::before {
              background-color: #6639a6;
            }
          }

          &:nth-child(4) {
            &::before {
              background-color: #d11e5b; 
            }
          }

          &:nth-child(5) {
            &::before {
              background-color: #212228;
            }
          }

          .country,
          .value {
            font-size: 12px;
            color: var(--text-color-one);

            @include media-md {
              font-size: 14px;
            }
    
            @include media-sm {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}