@import './src/scss/partials/_fonts';
@import './src/scss/partials/_mixins';

.widgets-wrapper {
  .widget-radar-chart {
    padding-bottom: 30px;
    background-color: #282a31;

    .radar-chart {
      margin: 0 auto;
    }

    .projects {
      display: flex;
      justify-content: space-around;
      margin: 0 10px;

      li {
        .btn-choice-project {
          display: block;
          position: relative;
          margin: 0 10px;
          padding-left: 15px;
          font-size: 12px;
          color: #d8d8d9;
          cursor: pointer;

          .color-id {
            width: 10px;
            height: 10px;
            position: absolute;
            top: calc(50% - 5px);
            left: 0;
            border-radius: 50%;
          }
        }
      }
    }
  }
}