@import './src/scss/partials/_mixins';
@import './src/scss/partials/_media-queries';

.content-wrapper {
  .widget-radar-chart {
    padding-bottom: 30px;
    background-color: #282a31;

    .radar-chart {
      margin: 0 auto;
    }

    .projects {
      width: calc(100% - 20px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: absolute;
      bottom: 30px;
      margin: 0 10px;

      li {
        .btn-choice-project {
          display: block;
          position: relative;
          margin: 0 10px 10px 10px;
          padding-left: 15px;
          font-size: 12px;
          color: #d8d8d9;
          cursor: pointer;

          @include media-md {
            font-size: 16px;
          }
  
          @include media-sm {
            font-size: 18px;
          }

          .color-id {
            width: 10px;
            height: 10px;
            position: absolute;
            top: calc(50% - 5px);
            left: 0;
            border-radius: 50%;
          }
        }
      }
    }
  }
}