@import './src/scss/partials/_mixins';
@import './src/scss/partials/_media-queries';

.content-wrapper {
  .widget-reviews {
    .reviews {
      padding: 0 90px 30px 20px;

      @include media-lg {
        padding: 0 20px 30px 20px
      }

      @include media-sm {
        padding: 0 20px 20px 20px;
      }

      @include media-xs {
        padding: 0 10px 20px 10px;
      }

      .review {
        .info {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .rating {
            width: 100px;
            height: 20px;
            position: relative;
            background: url('/src/img/widget-reviews/star-empty.svg');
            background-size: 20px;

            .percent {
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: url('/src/img/widget-reviews/star-full.svg');
              background-size: 20px;
            }
          }

          .time {
            margin-left: 25px;
            font-size: 14px;
            color: var(--text-color-one);

            @include media-md {
              font-size: 16px;
            }
    
            @include media-sm {
              font-size: 18px;
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        .text {
          margin-bottom: 5px;
          font-size: 12px;
          color: var(--text-color-one);

          @include media-md {
            font-size: 16px;
          }
  
          @include media-sm {
            font-size: 20px;
          }
        }

        .btn-read-completely {
          font-size: 14px;
          color: #6fe7dd;

          @include media-md {
            font-size: 16px;
          }
  
          @include media-sm {
            font-size: 18px;
          }
        }
      }
    }
  }
}