@import './src/scss/partials/_fonts';
@import './src/scss/partials/_mixins';

.widgets-wrapper {
  .widget-reviews {
    background-color: #282a31;

    .reviews {
      padding: 0 90px 30px 20px;

      .review {
        .info {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .rating {
            width: 100px;
            height: 20px;
            position: relative;
            background: url('/src/img/widget-reviews/star-empty.svg');
            background-size: 20px;

            .percent {
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: url('/src/img/widget-reviews/star-full.svg');
              background-size: 20px;
            }
          }

          .time {
            margin-left: 25px;
            font-size: 14px;
            color: #fff;
          }
        }

        &:nth-child(1) {
          .info {
            .rating {
              .percent {
                width: 100%;
              }
            }
          }
        }

        &:nth-of-type(2) {
          .info {
            .rating {
              .percent {
                width: 89%;
              }
            }
          }
        }

        &:nth-child(3) {
          .info {
            .rating {
              .percent {
                width: 70%;
              }
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        .text {
          margin-bottom: 5px;
          font-size: 12px;
          color: #fff;
        }

        .btn-read-completely {
          font-size: 14px;
          color: #6fe7dd;
        }
      }
    }
  }
}