@import './src/scss/partials/_mixins';
@import './src/scss/partials/_media-queries';

.content-wrapper {
  .widget-site-views {
    .widget-header {
      .year {
        margin-left: 5px;
        font-size: 18px;
        
        @include media-md {
          font-size: 20px;
        }

        @include media-sm {
          font-size: 24px;
        }
      }

      .year-choice {
        position: relative;
        margin-left: 10px;

        .btn-show-years-list {
          width: 30px;
          height: 30px;
          border: none;
          border-radius: 50%;
          background-color: transparent;
          cursor: pointer;

          @include media-md {
            width: 40px;
            height: 40px;
          }

          &:hover {
            svg {
              fill: var(--svg-icon-color-hover);
            }
          }
  
          svg {
            width: 90%;
            height: 90%;
            margin-top: 2px;
            fill: var(--svg-icon-color);
            @include transition(fill .1s ease-in-out);

            @include media-md {
              margin-top: 4px;
            }
          }
        }

        .years-list {
          display: none;
          position: absolute;
          top: 30px;
          right: 0;
          border-radius: 5px;
          background-color: var(--widget-bg);
          box-shadow: 0 0 7px 0 var(--box-shadow);
          z-index: 1;

          li {
            margin: 10px 0;

            button {
              padding: 0 15px;
              font-size: 18px;
              border: none;
              background-color: transparent;
              color: var(--text-color-two);
              white-space: nowrap;
              cursor: pointer;
              @include transition(color .1s ease-in-out);

              @include media-md {
                font-size: 20px;
              }
      
              @include media-sm {
                font-size: 24px;
              }

              &:hover {
                color: var(--text-color-two-hover);
              }
            }
          }
        }

        .show-years-list {
          display: block;
        }
      }
    }
  }
}