@import './src/scss/partials/_mixins';
@import './src/scss/partials/_media-queries';

.content-wrapper {
  .widget-tasks {
    padding-bottom: 30px;

    @include media-sm {
      padding-bottom: 20px;
    }

    .tasks {
      height: 320px;
      position: relative;
      margin: 0 20px;
      padding-right: 5px;
      overflow: auto;

      @include media-xs {
        margin: 0 10px;
      }

      &::before {
        content: 'No tasks';
        display: none;
        position: absolute;
        top: 10px;
        left: calc(50%);
        color: var(--text-color-two);
        font-size: 18px;
        @include transform(translateX(-50%));
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #33353b;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #c2c3c5;
      }

      .task {
        height: 80px;
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px 0;
        border-bottom: 2px solid var(--border-color);

        @include media-md {
          min-height: 80px;
          height: auto;
        }

        .checkbox {
          min-width: 20px;
          width: 20px;
          height: 20px;
          border: none;
          border-radius: 5px;
          background-color: var(--checkbox-bg);
          cursor: pointer;

          @include media-sm {
            min-width: 25px;
            width: 25px;
            height: 25px;
          }
        }

        .checkbox-toggle {
          background: url('/src/img/widget-tasks/checkmark.svg') center / 14px no-repeat, var(--checkbox-bg);
        }

        .info {
          margin: 0 10px;

          .title {
            position: relative;
            font-size: 18px;
            color: var(--text-color-one);

            @include media-md {
              font-size: 20px;
            }
    
            @include media-sm {
              font-size: 22px;
            }
          }

          .name {
            font-size: 14px;
            color: var(--text-color-four);

            @include media-md {
              font-size: 16px;
            }
    
            @include media-sm {
              font-size: 18px;
            }
          }
        }

        .btn-remove-task {
          min-width: 20px;
          width: 20px;
          height: 20px;
          margin: 0 10px 0 auto;
          border: none;
          background: transparent;
          cursor: pointer;

          @include media-sm {
            min-width: 25px;
            width: 25px;
            height: 25px;
          }

          @include media-xs {
            min-width: 30px;
            width: 30px;
            height: 30px;
          }

          &:hover {
            svg {
              fill: var(--svg-icon-color-hover);
            }
          }
        
          svg {
            width: 100%;
            height: 100%;
            fill: var(--svg-icon-color);
            @include transition(fill .1s ease-in-out);
          }
        }
      }
    }

    .tasks-list-empty {
      &::before {
        display: block;
      }
    }

    .add-new-task {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      .input-add-new-task {
        width: 70%;
        height: 40px;
        padding: 0 7px;
        border: 2px solid var(--border-color-elems);
        border-radius: 5px;
        background-color: var(--input-bg);
        font-size: 18px;
        color: var(--text-color-three);

        @include media-sm {
          width: 100%;
          margin-left: 20px;
          font-size: 22px;
        }

        @include media-xs {
          margin-left: 10px;
        }

        &::placeholder {
          font-size: 18px;
          color: var(--text-color-three);

          @include media-sm {
            font-size: 22px;
          }
        }
      }

      .btn-add-new-task {
        min-width: 40px;
        width: 40px;
        height: 40px;
        margin-left: 5px;
        border: 2px solid var(--border-color-elems);
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;

        @include media-sm {
          margin-right: 20px;
        }

        @include media-xs {
          margin-right: 10px;
        }
    
        &:hover {
          svg {
            fill: var(--svg-icon-color-hover);
          }
        }
    
        svg {
          width: 100%;
          height: 100%;
          fill: var(--svg-icon-color);
          @include transition(fill .1s ease-in-out);
        }
      }
    }
  }
}