@import './src/scss/partials/_fonts';
@import './src/scss/partials/_mixins';

.widgets-wrapper  {
  .widget-weekly-earning {
    .widget-header {
      display: flex;
      align-items: center;
      padding: 10px 0;
      background-color: #282a31;
      color: #b1b2b5;

      .title {
        margin-left: 20px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
      }  

      .widget-options {
        position: relative;
        margin: 0 10px 0 auto;

        .btn-options {
          width: 30px;
          height: 30px;
          border: none;
          border-radius: 50%;
          background-color: transparent;
          cursor: pointer;
  
          &:hover {
            svg {
              fill: #fff;
            }
          }
  
          svg {
            width: 70%;
            height: 70%;
            margin-top: 3px;
            fill: #b1b2b5;
            @include transition(fill .1s ease-in-out);
          }
        }

        .options-list {
          display: none;
          position: absolute;
          top: 30px;
          right: 0;
          border-radius: 5px;
          background-color: #282a31;
          box-shadow: 0 0 7px 0 rgba(24, 24, 25, 0.75);

          li {
            margin: 10px 0;

            a {
              display: block;
              padding: 0 15px;
              font-size: 18px;
              font-family: 'Roboto', sans-serif;
              color: #b7b8ba;
              white-space: nowrap;
              @include transition(color .1s ease-in-out);

              &:hover {
                color: #fff;
              }
            }
          }
        }

        .show-options {
          display: block;
        }
      }
    }
  }
}