@import './src/scss/partials/_mixins';
@import './src/scss/partials/_media-queries';

.header {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  padding-right: 10px;
  background-color: var(--second-bg-color);
  box-shadow: 0 5px 7px 0 var(--box-shadow);

  @include media-xl {
    padding-right: 15px;
  }

  @include media-lg {
    padding: 0;
  }

  .logo-wrapper {
    min-width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: auto;
    background-color: var(--main-bg-color);

    @include media-lg {
      min-width: 100%;
      margin: 0 auto;
      background: transparent;
    }

    .logo {
      height: 100%;
      display: block;
      position: relative;
      padding-left: 60px;
      color: var(--text-color-one);
      font-size: 36px;
      line-height: 80px;

      &::before {
        content: '';
        width: 34px;
        height: 47px;
        position: absolute;
        top: 16px;
        left: 0;
        background-image: url('/src/img/header/logo.png');
      }
    }

    .btn-nav-toggle {
      width: 25px;
      height: 25px;
      position: absolute;
      right: 25px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      @include media-xl {
        display: none;
      }

      &:hover {
        svg {
          fill: var(--svg-icon-color-hover);
        }
      }
      
      svg {
        width: 100%;
        height: 100%;
        fill: var(--svg-icon-color);
        @include transition(fill .1s ease-in-out);
      }
    }
  }

  .search-form {
    width: 300px;
    position: absolute;
    left: 50%;
    @include transition(transform .2s ease-in-out);
    @include transform(translateX(-50%) translateY(-100px));
    z-index: 999;

    .search-input {
      width: 100%;
      height: 40px;
      display: none;
      padding: 0 7px;
      border: 2px solid var(--border-color-elems);
      border-radius: 5px;
      background-color: var(--input-bg);
      font-size: 18px;
      color: var(--text-color-three);

      @include media-sm {
        font-size: 22px;
      }

      &::placeholder {
        font-size: 18px;
        color: var(--text-color-three);

        @include media-sm {
          font-size: 22px;
        }
      }
    }
  }

  .show-search-input {
    @include transform(translateX(-50%) translateY(100px));

    .search-input {
      display: block;
    }
  }

  .btn-search-input-toggle {
    width: 80px;
    height: 100%;
    border: none;
    border-left: 2px solid var(--border-color);
    background-color: transparent;
    cursor: pointer;

    @include media-lg {
      display: none;
    }

    &:hover {
      svg {
        fill: var(--svg-icon-color-hover);
      }
    }

    svg {
      width: 30px;
      height: 30px;
      margin-top: 5px;
      fill: var(--svg-icon-color);
      @include transition(fill .1s ease-in-out);
    }
  }

  .btn-notification {
    width: 80px;
    height: 80px;
    position: relative;
    border: none;
    border-left: 2px solid var(--border-color);
    background-color: transparent;
    cursor: pointer;

    @include media-lg {
      width: 60px;
      height: 80px;
      position: absolute;
      top: 0;
      left: 0;
      border: none;
    }

    &:hover {
      svg {
        fill: var(--svg-icon-color-hover);
      }
    }

    svg {
      width: 26px;
      height: 30px;
      margin-top: 5px;
      fill: var(--svg-icon-color);
      @include transition(fill .1s ease-in-out);
    }

    .notification-counter {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 22px;
      left: 42px;
      padding-top: 2px;
      border-radius: 50%;
      background-color: #ff0055;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      text-shadow: 0px 2px 1px rgba(24, 24, 25, 0.75);

      @include media-lg {
        left: 32px;
      }

      @include media-sm {
        width: 28px;
        height: 28px;
        font-size: 20px;
      }
    }
  }

  .btn-themes-toggle {
    width: 80px;
    height: 80px;
    position: relative;
    border: none;
    border-left: 2px solid var(--border-color);
    background-color: transparent;
    cursor: pointer;

    @include media-lg {
      display: none;
    }

    &:hover {
      svg {
        fill: var(--svg-icon-color-hover);
      }
    }

    svg {
      width: 30px;
      height: 30px;
      margin-top: 5px;
      fill: var(--svg-icon-color);
      @include transition(fill .1s ease-in-out);
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-left: 2px solid var(--border-color);

    @include media-lg {
      display: none;
    }

    .user-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include objectFit(cover);
    }

    .user {
      margin-left: 5px;

      @include media-lg {
        margin-left: 10px;
      }

      .user-name,
      .user-post {
        font-size: 12px;
        color: var(--text-color-two);

        @include media-lg {
          font-size: 18px;
        }

        @include media-sm {
          font-size: 20px;
        }
      }

      .user-name {
        text-transform: uppercase;
      }
    }

    .profile-options {
      position: relative;
      margin-left: 20px;

      @include media-xs {
        margin-left: 10px;
      }

      &:hover {
        .options {
          display: block;
        }
      }

      .btn-profile-options {
        width: 40px;
        height: 40px;
        border: 2px solid transparent;
        background-color: transparent;
        cursor: pointer;
        @include transition(border .1s ease-in-out);
    
        &:hover {
          border: 2px solid var(--border-color);
  
          svg {
            fill: var(--svg-icon-color-hover);
          }
        }
    
        svg {
          width: 24px;
          height: 22px;
          margin-top: 5px;
          fill: var(--svg-icon-color);
          @include transition(fill .1s ease-in-out);
        }
      }

      .options {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        border-radius: 5px;
        background-color: var(--widget-bg);
        box-shadow: 0 0 7px 0 var(--box-shadow);
        z-index: 1;

        li {
          margin: 10px 0;

          a {
            display: block;
            padding: 0 15px;
            font-size: 18px;
            color: var(--text-color-two);
            white-space: nowrap;
            @include transition(color .1s ease-in-out);

            @include media-lg {
              padding: 0;
            }

            @include media-sm {
              font-size: 24px;
            }

            &:hover {
              color: var(--text-color-two-hover);
            }
          }
        }
      }
    }
  }

  .btn-mobile-nav-toggle {
    width: 30px;
    height: 30px;
    display: none;
    position: absolute;
    top: 25px;
    right: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;

    @include media-lg {
      display: block;
    }
    
    &:hover {
      svg {
        fill: var(--svg-icon-color-hover);
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: var(--svg-icon-color);
      @include transition(fill .1s ease-in-out);

      rect {
        &:nth-of-type(1) {
          transform-origin: 50% 16%;
        }

        &:nth-of-type(2) {
          transform-origin: 50% 50%;
        }

        &:nth-of-type(3) {
          transform-origin: 50% 84%;
        }
      }
    }

    .btn-toggle-svg-open {
      rect {
        @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
            @include animation(rect#{$i}-open .5s ease-in-out 1 forwards);
          }
        }
      }
    }

    .btn-toggle-svg-close {
      rect {
        @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
            @include animation(rect#{$i}-close .5s ease-in-out 1 forwards);
          }
        }
      }
    }
  }
}

.header-mobile-open {
  height: 200px;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding: 0;
  z-index: 999;

  @include media-sm {
    height: 220px;
  }

  .logo-wrapper {
    .logo {
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  .search-form {
    position: static;
    margin-bottom: 5px;
    @include transition(transform 0s ease-in-out);
    @include transform(translateX(0) translateY(0));

    @include media-sm {
      width: calc(100% - 30px);
    }

    .search-input {
      display: block;
    }
  }

  .btn-themes-toggle {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 25px;
    right: 60px;
    border: none;

    svg {
      margin: 0;
    }
  }

  .user-info {
    display: flex;
    padding: 0;
    border: none;

    .profile-options {
      .btn-profile-options {
        display: none;
      }
  
      .options {
        display: block;
        position: static;
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
}

@include keyframes(rect1-open) {
  from {
    @include transform(translateY(0) rotate(0));
  }
  
  50% {
    @include transform(translateY(34%) rotate(0));
  }
  
  to {
    @include transform(translateY(34%) rotate(45deg));
  }
}

@include keyframes(rect2-open) {
  from {
    @include transform(rotate(0));
  }
  
  50% {
    @include transform(rotate(0));
  }
  
  to {
    @include transform(rotate(45deg));
  }
}

@include keyframes(rect3-open) {
  from {
    @include transform(translateY(0) rotate(0));
  }
  
  50% {
    @include transform(translateY(-34%) rotate(0));
  }
  
  to {
    @include transform(translateY(-34%) rotate(-45deg));
  }
}

@include keyframes(rect1-close) {
  from {
    @include transform(translateY(34%) rotate(45deg));
  }
  
  50% {
    @include transform(translateY(34%) rotate(0));
  }
  
  to {
    @include transform(translateY(0) rotate(0));
  }
}

@include keyframes(rect2-close) {
  from {
    @include transform(rotate(45deg));
  }
  
  50% {
    @include transform(rotate(0));
  }
  
  to {
    @include transform(rotate(0));
  }
}

@include keyframes(rect3-close) {
  from {
    @include transform(translateY(-34%) rotate(-45deg));
  }
  
  50% {
    @include transform(translateY(-34%) rotate(0));
  }
  
  to {
    @include transform(translateY(0) rotate(0));
  }
}