* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: #212228;

  .wrapper {
    max-width: 1360px;
    margin: 0 auto;

    .content-wrapper {
      display: flex;
      margin-top: 5px;
    }
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

canvas {
  display: block;
}