@import './src/scss/partials/_mixins';
@import './src/scss/partials/_media-queries';

.nav {
  width: 340px;
  background-color: var(--second-bg-color);
  box-shadow: 5px 0 5px -5px var(--box-shadow);
  z-index: 999;

  @include media-xl {
    min-width: 70px;
    width: 70px;
  }

  @include media-lg {
    display: none;
  }

  > ul {
    .nav-item {
      height: 70px;
      overflow: hidden;
      @include transition(height .3s ease-in-out);

      .btn-sub-nav-toggle {
        width: 100%;
        height: 70px;
        position: relative;
        border: none;
        border-bottom: 2px solid var(--border-color);
        background-color: var(--second-bg-color);
        color: var(--text-color-two);
        text-align: left;
        text-indent: 100px;
        font-size: 24px;
        font-weight: 300;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        @include transition(color .1s ease-in-out);

        @include media-sm {
          font-size: 28px;
        }

        &:hover {
          color: var(--text-color-two-hover);

          .svg-open-close,
          .svg-icon {
            fill: var(--svg-icon-color-hover);
          }
        }

        .svg-icon {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 20px;
          left: 60px;
          fill: var(--svg-icon-color);
          @include transition(fill .1s ease-in-out);

          @include media-xl {
            left: 20px;
          }
        }

        .svg-open-close {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 25px;
          right: 25px;
          fill: var(--svg-icon-color);
          @include transition(fill .1s ease-in-out);
          
          rect {
            transform-origin: center;
            @include transition(transform .3s ease-in-out);
          }
        }

        .new-messages-counter {
          width: 22px;
          height: 22px;
          position: absolute;
          top: 15px;
          left: 78px;
          padding-top: 2px;
          border-radius: 50%;
          text-align: center;
          background-color: #28dcbc;
          color: #fff;
          text-indent: 0;
          font-size: 16px;
          font-weight: 500;
          text-shadow: 0px 2px 1px rgba(24, 24, 25, 0.75);

          @include media-xl {
            left: 38px;
          }

          @include media-sm {
            width: 28px;
            height: 28px;
            font-size: 20px;
          }
        }
      }

      .sub-nav {
        overflow: hidden;

        li {
          border-bottom: 2px solid var(--border-color);

          a {
            width: 100%;
            height: 70px;
            display: block;
            position: relative;
            background-color: var(--main-bg-color);
            color: var(--text-color-two);
            line-height: 70px;
            text-indent: 100px;
            font-size: 24px;
            font-weight: 300;
            @include transition(color .1s ease-in-out);

            @include media-sm {
              font-size: 28px;
            }

            &:hover {
              color: var(--text-color-two-hover);
            }

            .new-messages-counter,
            .messages-counter {
              width: 22px;
              height: 22px;
              position: absolute;
              top: 24px;
              right: 35px;
              padding-top: 2px;
              border-radius: 50%;
              text-align: center;
              line-height: 20px;
              color: #fff;
              text-indent: 0;
              font-size: 16px;
              font-weight: 500;
              text-shadow: 0px 2px 1px rgba(24, 24, 25, 0.75);

              @include media-sm {
                width: 28px;
                height: 28px;
                padding-top: 4px;
                font-size: 20px;
              }
            }

            .new-messages-counter {
              background-color: #28dcbc;
            }

            .messages-counter {
              background-color: var(--icon-bg);
            }
          }
        }
      }
    }

    .sub-nav-open {
      .btn-sub-nav-toggle {
        .svg-open-close {
          fill: var(--svg-icon-color-hover);
  
          .rect-2 {
            @include transform(rotate(90deg));
          }
        }
      }
    }
  }
}

.nav-minimize {
  min-width: 70px;
  width: 70px;

  > ul {
    .nav-item {
      &:hover {
        overflow: visible;
      }

      &:hover .btn-sub-nav-toggle {
        width: 340px;
        color: var(--text-color-two-hover);

        .svg-icon {
          fill: var(--svg-icon-color-hover);
        }
      }

      &:hover .sub-nav {
        width: 270px;
        margin-left: 70px;

        li {
          a {
            text-indent: 30px;
          }
        }
      }

      .btn-sub-nav-toggle {
        .svg-icon {
          left: 20px;
          @include transition(fill .1s ease-in-out);
        }

        .svg-open-close {
          display: none;
        }

        .new-messages-counter {
          left: 38px;
        }
      }

      .sub-nav {
        li {
          a {
            height: 68px;
          }
        }
      }
    }
    
    .nav-minimized-open {
      overflow: visible;
    
      .btn-sub-nav-toggle {
        width: 340px;
        color: var(--text-color-two-hover);
    
        .svg-icon {
          fill: var(--svg-icon-color-hover);
        }
      }
    
      .sub-nav {
        width: 270px;
        margin-left: 70px;
    
        li {
          a {
            text-indent: 30px;
          }
        }
      }
    }
  }
}

.nav-mobile-open {
  width: 100%;
  height: calc(100vh - 200px);
  display: block;
  position: fixed;
  bottom: 0;
  overflow-y: scroll;
  z-index: 999;

  @include media-sm {
    height: calc(100vh - 220px);
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #33353b;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #c2c3c5;
  }

  ul {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;

    @include media-md {
      width: 100%;
    }

    .sub-nav {
      width: 100%;
    }
  }
}