@import './src/scss/partials/_mixins';

.theme-dark {
  --preloader-bg: #212228;
  --preloader-dot-bg: #30313a;
}

.theme-light {
  --preloader-bg: #f6f9fa;
  --preloader-dot-bg: #d6d9da;
}

.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--preloader-bg);
  z-index: 9999;

  .dots {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));

    .dot {
      width: 30px;
      height: 30px;
      margin: 0 10px;
      border-radius: 50%;
      background: var(--preloader-dot-bg);
      @include transform(scale(.5));

      &:nth-child(1) {
        @include animation(preloader-dot .7s ease-in-out infinite);
      }

      &:nth-child(2) {
        @include animation(preloader-dot .7s ease-in-out .1s infinite);
      }

      &:nth-child(3) {
        @include animation(preloader-dot .7s ease-in-out .2s infinite);
      }
    }
  }
}

.preloader-done {
  @include animation(preloader-done .3s ease-out 1 forwards);
}

@include keyframes(preloader-done) {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

@include keyframes(preloader-dot) {
  from {
    @include transform(scale(.5));
  }

  50% {
    @include transform(scale(1));
  }
  
  to {
    @include transform(scale(.5));
  }
}