@import './src/scss/partials/_mixins';
@import './src/scss/partials/_media-queries';

.content-wrapper {
  width: 100%;
  margin-bottom: 30px;
  padding-right: 45px;

  @include media-xl {
    padding-right: 15px;
  }

  @include media-lg {
    padding: 0 10px;
  }

  .dashboard-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 0;

    @include media-lg {
      margin: 10px 0;
    }

    .name {
      margin-left: 25px;
      font-size: 24px;
      color: var(--text-color-one);

      @include media-lg {
        margin-left: 0;
      }
    }

    .last-activity {
      margin-left: 30px;
      font-size: 10px;
      color: var(--text-color-four);

      @include media-lg {
        font-size: 14px;
      }

      @include media-md {
        width: 100%;
        order: 1;
        margin: 0;
        margin-top: 10px;
        text-align: center;
      }

      @include media-sm {
        font-size: 18px;
      }
    }

    .label {
      margin-left: auto;
      font-size: 14px;
      color: var(--text-color-one);

      @include media-lg {
        font-size: 18px;
      }

      @include media-sm {
        font-size: 20px;
      }
    }

    .btn-add-widget {
      width: 28px;
      height: 28px;
      margin-left: 30px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      @include media-lg {
        margin-left: 10px;
      }

      &:hover {
        svg {
          fill: var(--svg-icon-color-hover);
        }
      }

      svg {
        width: 100%;
        height: 100%;
        fill: var(--svg-icon-color);
        @include transition(fill .1s ease-in-out);
      }
    }
  }

  .info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px 10px -5px;

    @include media-lg {
      margin: 0 -5px;
    }

    .card {
      width: calc(100% / 4 - 10px);
      margin: 0 5px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      padding-right: 10px;
      background-color: var(--widget-bg);
      box-shadow: 0 1px 5px 1px var(--box-shadow);

      @include media-lg {
        width: calc(100% / 2 - 10px);
        margin-bottom: 10px;
      }

      @include media-xs {
        align-items: center;
        padding-right: 0;
      }

      &::before {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        box-shadow: 0px 2px 6px 0px var(--box-shadow);

        @include media-xs {
          display: none;
        }
      }

      &:nth-child(1) {
        border-bottom: 5px solid #6fe7dd;

        &::before {
          background: url('/src/img/info-cards-icons/view.svg') center no-repeat, linear-gradient(var(--icon-bg), var(--icon-bg));
          background-size: 25px;
        }
      }

      &:nth-child(2) {
        border-bottom: 5px solid #3490de;

        &::before {
          background: url('/src/img/info-cards-icons/user.svg') center no-repeat, linear-gradient(var(--icon-bg), var(--icon-bg));
          background-size: 25px;
        }
      }

      &:nth-child(3) {
        border-bottom: 5px solid #6639a6;

        &::before {
          background: url('/src/img/info-cards-icons/rocket.svg') center no-repeat, linear-gradient(var(--icon-bg), var(--icon-bg));
          background-size: 25px;
        }
      }

      &:nth-child(4) {
        border-bottom: 5px solid #d11e5b;

        &::before {
          background: url('/src/img/info-cards-icons/letter.svg') center no-repeat, linear-gradient(var(--icon-bg), var(--icon-bg));
          background-size: 25px;
        }
      }

      .name {
        color: var(--text-color-four);
        font-size: 10px;
        text-align: right;
        text-transform: uppercase;

        @include media-lg {
          font-size: 14px;
        }

        @include media-sm {
          font-size: 18px;
        }
      }

      .value {
        color: var(--text-color-two);
        font-size: 24px;
        text-align: right;

        .units {
          font-size: 14px;
        }
      }
    }
  }

  .widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;

    .widget {
      background-color: var(--widget-bg);
      box-shadow: 0px 4px 10px 0px var(--box-shadow);
      margin: 0 5px 10px 5px;

      .widget-header {
        height: 50px;
        display: flex;
        align-items: center;
        color: var(--text-color-two);
  
        .title {
          margin-left: 20px;
          font-size: 18px;

          @include media-md {
            font-size: 20px;
          }
  
          @include media-sm {
            font-size: 24px;
          }
        }  
  
        .widget-options {
          position: relative;
          margin: 0 10px 0 auto;
  
          .btn-options {
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
    
            &:hover {
              svg {
                fill: var(--svg-icon-color-hover);
              }
            }
    
            svg {
              width: 70%;
              height: 70%;
              margin-top: 3px;
              fill: var(--svg-icon-color);
              @include transition(fill .1s ease-in-out);
            }
          }
  
          .options-list {
            display: none;
            position: absolute;
            top: 30px;
            right: 0;
            border-radius: 5px;
            background-color: var(--widget-bg);
            box-shadow: 0 0 7px 0 var(--box-shadow);
            z-index: 1;
  
            li {
              margin: 10px 0;
  
              a {
                display: block;
                padding: 0 15px;
                font-size: 18px;
                color: var(--text-color-two);
                white-space: nowrap;
                @include transition(color .1s ease-in-out);

                @include media-md {
                  font-size: 20px;
                }
        
                @include media-sm {
                  font-size: 24px;
                }
  
                &:hover {
                  color: var(--text-color-two-hover);
                }
              }
            }
          }
  
          .show-options {
            display: block;
          }
        }
      }
    }

    .widget-site-views {
      width: 100%;
      max-width: calc(100% - 340px);
      height: 440px;
      overflow: hidden;
      position: relative;

      @include media-lg {
        max-width: 100%;
      }

      .site-views {
        position: absolute;
      }
    }

    .widget-container {
      width: 320px;
      max-height: 440px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 5px;

      @include media-lg {
        width: 100%;
        flex-direction: row;
        margin: 0 0 10px 0;
      }

      @include media-xs {
        max-height: none;
      }

      .widget-weekly-earning,
      .widget-earn-by-country {
        height: 215px;
        margin: 0;

        @include media-lg {
          width: calc(50% - 10px);
          margin: 0 5px;
        }

        @include media-md {
          width: 100%;
        }
      }

      .widget-weekly-earning {
        overflow: hidden;
        position: relative;

        @include media-md {
          margin-bottom: 10px;
        }
        
        .weekly-earning { 
          position: absolute;
        }
      }

      .widget-earn-by-country {
        @include media-xs {
          height: auto;
        }

        .donut-chart {
          @include media-md {
            justify-content: center;
          }
        }
      }
    }

    .widget-contacts,
    .widget-reviews,
    .widget-tasks,
    .widget-radar-chart {
      width: calc(50% - 10px);

      @include media-lg {
        width: 100%;
      }
    }

    .widget-radar-chart {
      position: relative;

      @include media-lg {
        height: 450px;
      }

      .radar-chart {
        position: absolute;
      }
    }
  }
}