@import './src/scss/partials/_fonts';
@import './src/scss/partials/_mixins';

.widgets-wrapper {
  width: 100%;
  margin: 0 45px 30px 15px;

  .dashboard-info {
    height: 85px;
    display: flex;
    align-items: center;

    .name {
      margin-left: 25px;
      font-size: 24px;
      color: #fff;
    }

    .last-activity {
      margin-left: 30px;
      font-size: 10px;
      color: #909194;
    }

    .label {
      margin-left: auto;
      font-size: 14px;
      color: #fff;
    }

    .btn-add-widget {
      width: 28px;
      height: 28px;
      margin-left: 30px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        svg {
          fill: #fff;
        }
      }

      svg {
        width: 100%;
        height: 100%;
        fill: #c2c3c5;
        @include transition(fill .1s ease-in-out);
      }
    }
  }

  .info-cards {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px 10px -5px;

    .card {
      width: calc(100% / 4);
      margin: 0 5px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      padding-right: 10px;
      background-color: #282a31;
      box-shadow: 0px 5px 7px 0px rgba(24, 24, 25, 0.75);

      &::before {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        box-shadow: 0px 2px 6px 0px rgba(24, 24, 25, 0.75);
      }

      &:nth-child(1) {
        border-bottom: 5px solid #6fe7dd;

        &::before {
          background: url('/src/img/info-cards-icons/view.svg') center no-repeat, linear-gradient(#3d404a, #3d404a);
          background-size: 25px;
        }
      }

      &:nth-child(2) {
        border-bottom: 5px solid #3490de;

        &::before {
          background: url('/src/img/info-cards-icons/user.svg') center no-repeat, linear-gradient(#3d404a, #3d404a);
          background-size: 25px;
        }
      }

      &:nth-child(3) {
        border-bottom: 5px solid #6639a6;

        &::before {
          background: url('/src/img/info-cards-icons/rocket.svg') center no-repeat, linear-gradient(#3d404a, #3d404a);
          background-size: 25px;
        }
      }

      &:nth-child(4) {
        border-bottom: 5px solid #d11e5b;

        &::before {
          background: url('/src/img/info-cards-icons/letter.svg') center no-repeat, linear-gradient(#3d404a, #3d404a);
          background-size: 25px;
        }
      }

      .name {
        color: #909194;
        font-size: 10px;
        text-align: right;
        text-transform: uppercase;
      }

      .value {
        color: #b1b2b5;
        font-size: 24px;
        text-align: right;

        .units {
          font-size: 14px;
        }
      }
    }
  }

  .widgets {
    display: grid;
    grid-template-columns: 475px 155px 310px;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: "site-views site-views weekly-earning"
                         "site-views site-views earn-by-country"
                         "contacts reviews reviews"
                         "tasks radar-chart radar-chart";

    .widget {
      background-color: #282a31;
      box-shadow: 0px 4px 10px 0px rgba(24, 24, 25, 0.75);

      .widget-header {
        height: 50px;
        display: flex;
        align-items: center;
        color: #b1b2b5;
  
        .title {
          margin-left: 20px;
          font-size: 18px;
        }  
  
        .widget-options {
          position: relative;
          margin: 0 10px 0 auto;
  
          .btn-options {
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
    
            &:hover {
              svg {
                fill: #fff;
              }
            }
    
            svg {
              width: 70%;
              height: 70%;
              margin-top: 3px;
              fill: #b1b2b5;
              @include transition(fill .1s ease-in-out);
            }
          }
  
          .options-list {
            display: none;
            position: absolute;
            top: 30px;
            right: 0;
            border-radius: 5px;
            background-color: #282a31;
            box-shadow: 0 0 7px 0 rgba(24, 24, 25, 0.75);
            z-index: 1;
  
            li {
              margin: 10px 0;
  
              a {
                display: block;
                padding: 0 15px;
                font-size: 18px;
                color: #b7b8ba;
                white-space: nowrap;
                @include transition(color .1s ease-in-out);
  
                &:hover {
                  color: #fff;
                }
              }
            }
          }
  
          .show-options {
            display: block;
          }
        }
      }
    }

    .widget-site-views {
      grid-area: site-views;
    }

    .widget-weekly-earning {
      height: 215px;
      grid-area: weekly-earning;
    }

    .widget-earn-by-country {
      height: 215px;
      grid-area: earn-by-country;
    }

    .widget-contacts {
      grid-area: contacts;
    }

    .widget-reviews {
      grid-area: reviews;
    }

    .widget-tasks {
      grid-area: tasks;
    }

    .widget-radar-chart {
      grid-area: radar-chart;
    }
  }
}